@import '../../../styles/settings.scss';

.rating-post {
  display: inline-block;

  span {
    font-size: 16.5px;
  }

  .button {
    margin: $base-size * .5;
    padding: 0;
    width: $base-size * 2;
    height: $base-size * 2;
  }
}
